// Set the only color for the page
main-color = #21865A

html
  width 100%

body
  font-family 'Lato', 'HelveticaNeue-Light', sans-serif

///////////////////
// Navbar styles //
///////////////////
.navbar-container
  max-width 1000px

.navbar
  margin-bottom 0

.navbar
  &.navbar-custom
    background-color main-color
    border-bottom none
    -moz-box-shadow 0 0 5px rgba(0,0,0,0.40)
    -webkit-box-shadow 0 0 5px rgba(0,0,0,0.40)
    box-shadow 0 0 5px rgba(0,0,0,0.40)
  
.navbar-custom 
  .navbar-nav
    & > li
      & > a
        color #FFF
     
.navbar-custom 
  .navbar-nav
    & > li
      & > a
        &:hover
          color #CCC

.navbar-brand
  font-family 'HelveticaNeue-Light', 'Lato', sans-serif
  color #FFF
  font-size 2em
  letter-spacing 1px
  padding 0
  padding-top 2px
  &:hover
    color #DDD

.logo
  max-height 300px
  
.logo-sm
  max-height 45px

////////////////////////
// Main page nav/hero //
////////////////////////
 
.main-head
  position relative
  top -50px
  z-index 99999
  width 100%
  height 600px
  padding-top 15px
  background-color main-color
  color #FFF
  font-size 1.6em
  -webkit-box-shadow: 4px 4px 13px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    4px 4px 13px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         4px 4px 13px 0px rgba(50, 50, 50, 0.3);
  & h1
    font-size 3em
  & .description
    padding-top 30px
  & a
    color #fff
    & :hover
      color #fff
      text-decoration none

.hook
  & p
    font-weight 100
    letter-spacing 1px
    font-family 'Lato', 'HelveticaNeue-Light' sans-serif

.template-cta
  position absolute
  bottom 20px
  width 150px
  text-align center
  left 50%
  margin-left -135px
  & button
    font-weight 500


///////////////////////////////
// Sidebar Navigation Styles //
///////////////////////////////

.sidebar-nav
  height calc(100vh - 51px)
  width 22%
  background-color #FFF
  -moz-box-shadow 2px 0 10px rgba(0,0,0,0.10)
  -webkit-box-shadow 2px 0 10px rgba(0,0,0,0.10)
  box-shadow 2px 0 10px rgba(0,0,0,0.10)

.sidebar-style
  border-bottom solid 3px main-color
  margin-left 60px
  margin-right 45px
  

.sidebar-title
  text-transform uppercase
  
.sidebar-body
  height 75%
  overflow scroll
  padding-bottom 20px

.sidebar-footer
  padding 30px 10px 10px 25px



///////////////////////////////
// Main Page Template Styles //
///////////////////////////////

.section-selector
  text-align center
  img
    margin-top 10px

.front
  margin-top 30px
  position relative
  &:hover
    .back
      display block

.highlighted
  display none
  height 500px
  width 360px
  background-color rgba(256, 256, 256, .8)
  color #000
  position absolute
  top 0
  left 0
  margin 0 15px

.back
  padding 50% 0
  
.template-thumbnail
  height 500px
  -webkit-box-shadow: 4px 4px 13px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    4px 4px 13px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         4px 4px 13px 0px rgba(50, 50, 50, 0.3);

.thumbnail-name
  font-family 'wisdom-script', 'Lato', 'HelveticaNeue-Light', sans-serif
  text-align center
  h2
    font-size 3em
    margin-bottom 20px

.thumbnail-cta
  text-align center


//////////////////////
// Edit Page Styles //
//////////////////////

.edit-container
  background-color #EEE
  // height calc(100vh - 51px)
  // height 100%

#drop-zone
  min-width 600px
  min-height 300px
  background-color #FFF
  padding-top 15px
  position relative
  margin-top 5%
  margin-bottom 5%

//////////////////////////////////////
// Styles for the template sections //
//////////////////////////////////////

.template-items
  &:not(:last-child)
    margin 20px 0
    padding-bottom 20px
    border-bottom solid 1px main-color

.template-name
  text-transform uppercase
  
.template-img
  width 100%
  
.edit-holder
  height calc(100vh - 51px)
  overflow scroll

// For jQueryUI droppable attribute
.drop-hover
  border solid 1px #9C9C9C

.template-holder
  height 900px


/////////////////////////////////
// Styles for sortable handle  //
// and remove buttons          //
/////////////////////////////////

.section-btns
  display none

.section-btns
  & > div
    height 30px
    width 30px
    position absolute
    font-size 1.5em
    z-index 9999
    top 40%
    color #000
    
.section-btns
  & > div
    &:hover
      color #444
  
.remove
  left 95.9%
  // padding-right -150px

.hero
  position relative


//////////////////////////
// Custom Button Styles //
//////////////////////////

.send-btn
  width 175px
  background-color #FFF
  color main-color
  font-weight 600
  border solid 1px main-color
  
.send-btn
  &:hover
    background-color main-color
    color #FFF
    font-weight 600
    border solid 1px #FFF

.send-btn-alt
  background-color main-color
  color #FFF
  font-weight 600
  border solid 1px #FFF

.send-btn-alt
  &:hover
    background-color #FFF
    color main-color
    font-weight 500
    border solid 1px main-color


///////////////////
// Footer Styles //
///////////////////

.footer-container
  margin-top 80px
  with 100%
  height 100%
  background-color #4c4f4d
  color #fff
  
.footer-container
  position relative
  bottom 0
  width 100%
  border-top solid 3px main-color
