extends ../includes/layout

block content
	nav.navbar.navbar-default.navbar-static-top
		.container
			.navbar-header
				a.navbar-brand(href="/") Final
			.navbar-collapse.collapse(ng-include="'/partials/account/navbar-login'")

	main.content
		div(ng-view)

	footer.container.text-center
		p &copy; 2014 Steven M Wade Photography, Ltd.