extends ../includes/layout

block content
	header
		nav.navbar.navbar-custom.navbar-static-top
			.container
				.navbar-header
					a.navbar-brand(href="/") The Newsletter
				.navbar-collapse.collapse(ng-include="'/partials/account/navbar-login'")

	main.content
		div(ng-view)