<html>
<body>
	<table width="100%" cellpadding="0" cellspacing="0" bgcolor="#21865A" align="center">
		<tbody>
			<tr>
				<td align="top">
					<!-- Navigation -->
					<table width="100%" cellspacing="0" cellpadding="0" align="top">
						<tbody>
							<tr>
								<td height="60px" style="border-bottom: solid 1px #FFF">
									<table width="90%" border="0" cellpadding="0" cellspacing="0" align="center">
										<tbody>
											<tr>
												<td>
													<table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="text-transform: uppercase; color: #ffffff">
														<tbody>
															<tr>
																<td valign="middle" align="left">Post &amp; Parcel</td>
																<td valign="middle" align="right">
																	<a href="#" style="text-decoration: none">View</a>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
					<!-- Content -->
					<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
						<tbody>
							<tr>
								<td align="top">
									<table width="600" cellpadding="0" cellspacing="0" border="0" align="center" style="text-transform: uppercase">
										<tbody>
											<tr>
												<td height="50"></td>
											</tr>
											<tr>
												<td align="center">
													<img src="http://placehold.it/200x200" alt="Placeholder">
												</td>
											</tr>
											<tr>
												<td height="80"></td>
											</tr>
											<tr>
												<td align="center" height="65">
													<table width="350" cellspacing="0" cellpadding="0" border="0" align="center" style="text-transform: uppercase; font-size: 14px">
														<tbody>
															<tr>
																<td width="20"></td>
																<td height="65">
																	<a href="#" style="color: #21865A; text-decoration: none; display: block">
																		<table width="100%" border="0" cellpadding="0" cellspacing="0" align="left">
																			<tbody>
																				<tr>
																					<td align="center" style="background-color: #ffffff; color: #21865A; border-radius: 3px" height="65">
																						Super Duper Awesome
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</a>
																</td>
																<td width="20"></td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
											<tr height="65"></tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>