.edit-container.row(droppable)
	//- Edit sidebar navigation
	aside.sidebar-nav.col-sm-3(ng-include="'/partials/edit/sidebar-nav'")
	//- Container to hold and drop all editable HTML pieces
	.col-sm-9.edit-holder
		.row
			#drop-zone.text-center.col-sm-8.col-sm-offset-2(sortable)
				i.drop-placeholder.fa.fa-arrow-down.fa-3x

//- Modal for entering your email information
.modal.fade#email-modal
	.modal-dialog
		form
			.modal-content
				.modal-header
					h2 Send your email...
				.modal-body
					.form-group
						label(for="from") From:
						input.form-control(type="text", ng-model="emailFrom", required, name="from", placeholder="Enter your email...")
					.form-group
						label(for="to") To:
						textarea.form-control(ng-model="emailRecipients", name="to" required, placeholder="Enter email recipients seperated by a comma ( , )...")
					.form-group
						label(for="subject") Subject:
						input.form-control(type="text", ng-model="emailSubject", required, name="subject", placeholder="Enter your email subject...")
				.modal-footer
					button.btn.send-btn-alt(ng-click="sendEmail()", data-dismiss="modal") Send
					button.btn.btn-default(data-dismiss="modal") Cancel

//- Modal for changing image URL
.modal.fade#imgModal
	.modal-dialog
		form#img-form
			.modal-content
				.modal-header
					h2 Past the link to your image
				.modal-body
					.form-group
						label(for="link") URL
						input.form-control(type="text" name="link")
				.modal-footer
					button.btn.send-btn.change-img(type="submit" data-dismiss="modal") Change
					button.btn.btn-default.cancel-change-img(data-dismiss="modal") Cancel
















