.sidebar-header.sidebar-style
	h1.sidebar-title.text-center {{template[0].name}}
.sidebar-body.sidebar-style
	//- Repeate over template elements and display in sidebar and making them draggable
	.template-items.text-center(ng-repeat="element in template[0].elements", data-tag="{{element.tag}}", draggable)
		p.template-name {{element.name}}
		img.template-img(ng-src="{{element.thumbnail}}", alt="{{element.name}}")
.sidebar-footer.text-center
	button.btn.send-btn(data-toggle="modal" data-target="#email-modal") {{sendBtn}}