.footer-container.container-fluid
	.row(style="padding-top: 30px")
		.col-sm-2.col-sm-offset-3.text-center
			ul(style="list-style: none").text-left
				li Super
				li Awesome
				li Dooper
				li Skates
		.col-sm-2.text-center
			p 123 Main St
			| Denver, CO
		.col-sm-2.text-center
			p.text-right
				a(href="/") Jobs
	.row
		.col-sm-12
			p.text-center &copy; 2014 Steven M Wade Photography, Ltd.