//- Main page navigation and hero
.main-head
	.container
		.row
			.col-sm-12
				h1.brand.text-center 
					a(href="/")
						img.logo(src="/app/img/post-parcel-logo.png", alt="Post & Parcel")
		.row.description
			.col-sm-8.col-sm-offset-2
				p.hook With no account necessary, Post &amp; Parcel allows you to create HTML newsletters by letting you pick bits and pieces of already made templates while choosing your own content. You may send emails to your entire mailing by using SendGrid's marketing email system with no cost to you.
		.row.template-cta
			.col-sm-4.col-sm-offset-4
				button.btn.send-btn-alt(ng-click="moveTop()") Pick Your Template

//- Template views
.container
	.row(ng-controller="MainCtrl")
		.col-lg-4.col-sm-6.front.text-center(ng-repeat="thumbnail in templates")
			img.template-thumbnail(ng-src="{{thumbnail.img}}", alt="{{thumbnail.alt}}")
			.highlighted.back
				.thumbnail-name
					h2 {{thumbnail.name}}
				.thumbnail-cta
					a.btn.send-btn-alt(href="{{thumbnail.url}}", ng-click="openView(thumbnail.sref)") Use Template

//- Footer for main page only
footer.footer(ng-include="'/partials/main/footer'")